{% block body %}
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>Enter the URL for the ASU Course Catalog page you want queried</h1>
    <input id="inputText" type="text" name="" value=""><br>
    <button class="submitButton" type="button" name="button" onclick="queryURL()">Submit</button>
    <span id="result"></span>
  </body>
  <script type="text/javascript">
    function queryURL(){
      var inputText = $("#inputText").val();
      console.log(inputText);
      $.getJSON('/backgroundRMPASU', {
        url: inputText,
      }, function(data) {
        data = data.replace(/'/g, '"')
        console.log(data)
        var json = $.parseJSON(data)
        for(x in json){
          var liString = `
          <div class="profEntry">
            <span class="profName">${json[x]["name"]}</span>
            <ul>
              <li>Quality: ${json[x]["Overall Quality"]}</li>
              <li>Would Take Again: ${json[x]["Would Take Again"]}</li>
              <li>Difficulty: ${json[x]["Difficulty"]}</li>
              <li><a href="${json[x]["RateMyProfessorURL"]}">Rate My Professor Page</a></li>
            </ul>
          </div>`;
          $("body").append(liString)
        }
      });

    }
  </script>
{% endblock %}
