{% block body %}
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <span>Enter the URL for the ASU Course Catalog page you want queried</span><br>
    <input id="inputText" type="text" name="" value=""><br>
    <button type="button" name="button" onclick="queryURL()">Submit</button>

    <span id="result"></span>
  </body>
  <script type="text/javascript">
    function queryURL(){
      var inputText = $("#inputText").val();
      console.log(inputText);
      $.getJSON('/backgroundRMPASU', {
        url: inputText,
      }, function(data) {
        console.log(data)
        var jsonStr = JSON.stringify(data)
        var json = $.parseJSON(data)
        console.log(json)

        $("#result").html(data);
      });

    }
  </script>
{% endblock %}
