{% block body %}
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="topWrapper">
    <div class="topBanner">
      <div class="verticalCenter">
        <div style="float: left;">
          <span style="margin-left: 20px; font-size: 40px; color: white;">RateMyProfessor ASU Course Lookup</span>
        </div>
      </div>
      <div class="floatRight">
        <div style="margin-bottom: 10px;">
          <a class="linkPortfolio" href="https://kirangershenfeld.dev/index.html#DevPortfolioAnchor" target='_blank'><i class="fa fa-th" aria-hidden="true" style="font-size: 45px; color: white; margin-left: 20px; float:right;" ></i></a>
          <div class="icon">
            <a href="https://github.com/KiranGershenfeld/RateMyProfessorASUCourseLookup" target='_blank'><img src="/static/git.png" class="iconButton"></a>
          </div>
        </div>
        <div class="affiliation">
          This website is not affiliated with RateMyProfessor or ASU
        </div>

      </div>

    </div>
    <div class="goldBuffer" style="bottom: 0; height: 10px; background-color: #FFC627; background-position: fixed;"></div>
    </div>
    <div class="page-content">
      <div class="instructions tooltip">
        <span>Paste the URL from an ASU Course Catalog page to see teacher reviews</span>
      </div>
      <input id="inputText" type="text" name="" placeholder="https://webapp4.asu.edu/catalog/classlist..."><br>
      <div class="buttonContainer">
        <button class="submitButton" type="button" name="button" onclick="queryURL()">Submit</button>
      </div>
      <div class="data-container">
      </div>
    </div>
  </body>
  <script type="text/javascript">
    function queryURL(){
      var inputText = $("#inputText").val();
      console.log(inputText);

      $(".data-container").empty()
      $.getJSON('/quickreturn', {
        url: inputText,
      }, function(data){
        data = data.replace(/'/g, '"')
        var json = $.parseJSON(data)
        var infoSection = `
          <div class="infoSection">
            <span>Search Criteria: ${json['department']} ${json['courseNumber']}</span>
          </div>
        `;
        var loadingSection = `
          <div class="loading infoSection">
            <span>Loading...</span>
          </div>
        `;
        $(".data-container").append(infoSection)
        $(".data-container").append(loadingSection)
        $(".data-container").css("padding", "20px 0px")
        $(".data-container").css("border", "2px solid black")
      });

      $.getJSON('/backgroundRMPASU', {
        url: inputText,
      }, function(data) {
        data = data.replace(/'/g, '"')
        console.log(data)
        var json = $.parseJSON(data)
        $('.loading').remove()
        for(x in json){
          var liString = `

          <div class="profEntry">
            <span class="profName">${json[x]["name"]}<br></span>
            <ul>
              <li>Quality: ${json[x]["Overall Quality"]}</li>
              <li>Would Take Again: ${json[x]["Would Take Again"]}</li>
              <li>Difficulty: ${json[x]["Difficulty"]}</li>
              <li><a href="${json[x]["RateMyProfessorURL"]}" target="_blank">Rate My Professor Page</a></li>
            </ul>
          </div>`;
          $(liString).hide().appendTo(".data-container").fadeIn(1000);
        }
      })
      .fail(function() {
        $('.data-container').empty()
        var errorSection = `
          <div class="infoSection">
            <span>Could not find data for that link! Make sure it comes from the ASU Course Search Catalog and try not using advanced course search parameters.</span>
          </div>
        `
        $(".data-container").append(errorSection)
        $(".data-container").css("padding", "20px 0px")
        $(".data-container").css("border", "2px solid black")
      })
    }
  </script>
{% endblock %}
